body {
    background-color: whitesmoke;
    font-family: "Arial", sans-serif;
}

nav{
    display: flex;
    justify-content:right;
    margin: 10px 60px 10px 10px;
}

.menu_element {
    padding-left: 15px;
    color: rgb(15, 111, 90);
    font-size: 15px;
    text-decoration: none;
}

.menu_element:hover {
    color: rgb(148, 106, 27);
  }

main {
    display: flex;
    justify-content: center;
}

.mensaje {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    height: 338px;
    width: 1279px;
    color: white;
    font-weight: bold;
}

.mensaje_tabla {
    margin: 50px 75px;
    letter-spacing: 0.30em;
}

.mensaje_celda {
    margin-left: 10px;
    vertical-align: top;
}

.mensaje_texto_small {
    font-size: 25px;
    font-weight: normal; 
}

.mensaje_texto_medium {
    font-size: 35px;
}

.mensaje_texto_large {
    font-size: 50px;
}

footer>p {
    text-align: center;
}

.footer_text1 {    
    color: rgb(138, 140, 8);
    font-size: 20px;
}

.footer_text2 {    
    color: rgb(15, 111, 90);
    font-size: 15px;
}

.footer_bold {
    font-weight: bold;
}